<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Angular 6</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/dashboard">Dashboard</a></li>
      <li routerLinkActive="active"><a routerLink="/list-user">Users</a></li>
      <li routerLinkActive="active"><a routerLink="/list-client">Clients</a></li>   
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="/logout">Log Out</a></li>     
    </ul>
  </div>
</nav>