<div class="login-form">
    <form>
        <h2 class="text-center">Log in</h2>       
        <div class="form-group">
            <input type= "email" class="form-control" placeholder="Email" required="required" [(ngModel)] = "email" name = "email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required="required" [(ngModel)] = "password" name = "password">
        </div>
        <div class="form-group">
            <button (click)="login()" class="btn btn-primary btn-block">Log in!</button>
        </div>    
    </form>
    <p class="text-center"> <a routerLink="/register" >Create an Account</a></p>
</div>
                              		                            