<div class="signup-form">
    <form>
		<h2>Register</h2>
		<p class="hint-text">Create your account. It's free and only takes a minute.</p>
       
        <div class="form-group">
        	<input type="email" class="form-control" name="email" placeholder="Email" required="required" [(ngModel)] = "email" name = "email">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required" [(ngModel)] = "password" name = "password">
        </div>

		<div class="form-group">
			<button (click)="signUp()" class="btn btn-success btn-lg btn-block">Register Now</button>
        </div>
    </form>
	<div class="text-center">Already have an account? <a id="sign_text" routerLink="/login">Sign in</a></div>
</div>
                          